.frontcard{
  position: relative;
  top:15vh;
  height:50vh;
  width:90vw;
  left:5%;
  box-shadow: 12px 20px 40px -10px rgba(0,0,0,0.3);
  
  border-radius: 20px;
  /* border: 1px solid black; */
  overflow:hidden;
}

